{% load staticfiles %}
<!-- le pedimos a Django que cargue los archivos estaticos que se encuentran en la carpeta static/ en la carpeta de la aplicacion-->

<html>
    <head>
        <title>Vimthon</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/vimthon.css' %}">
        <!-- indicamos el stylesheet a utilizar -->

        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="page-header">
            <h1 align="center"><a href="/">Vimthon</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>
