
<html>
    <head>
        <title>Vimthon</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
         rel="stylesheet" type="text/css">
       
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/vimthon.css') }}">

        <!-- indicamos el stylesheet a utilizar -->
 
        <!-- JQuery -->
         
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- <script src="{{ url_for('static', filename='js/cursor_script.js') }}"></script>  -->
        <script src="{{ url_for('static', filename='js/grammar/nearley.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/grammar/grammar.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/index.js') }}"></script> 




    </head>

    <body>
        <div class="page-header">
            <h1 align="center"><a href="/">Vimthon</a></h1>

            
            <a href="https://github.com/LucianoFromTrelew/Vimthon" target="_blank" class="button-github">
                <img src="{{ url_for('static', filename='images/github.png') }}" alt="Vimthon on GitHub" class="icon"/>GitHub</a>
            <a href="https://hub.docker.com/r/lucianofromtrelew/vimthon/" target="_blank" class="button-docker">
                <img src="{{ url_for('static', filename='images/docker.png') }}" alt="Vimthon on DockerHub" class="icon"/>DockerHub</a>
        </div>
        <!-- Place this tag where you want the button to render. -->
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>
