{% extends 'vimthon/base.html'%}

{% block content %}


<script>
$(document).ready(function(){
    $("button").click(function(){
        $('#id_regex').css("background-color", "red");
    });
});
</script>



<form method="POST" class="post-form">{% csrf_token %}
  	{{ form }}
	<button type="submit" class="save btn btn-default" onclick="myFunction">Save</button>
</form>


{% endblock %}

<!--
<script>
function myFunction() {
	$('#id_regex').css("background-color", "yellow");
}
</script>
<button type="button" onclick="myFunction()">Botoncito</button>
-->
