{% extends 'vimthon/base.html'%}

{% block content %}

<div>
    <div id="editor" contenteditable="true"></div>

    <form method="POST" id="text_form" class="post-form">
        {{ form.hidden_tag() }}
            <!-- {{ form.text }} -->
            {{ form.regex }}
            {% for error in form.regex.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>

            <pre contenteditable="true" style="background:bisque">
                <code>
                    <span style="color:tomato">foo</span> = <span style="color:darkblue">"esto está harcodeado en el main.html"</span>
                </code>
            </pre>
        <button id="submitBtn" type="submit" class="save btn btn-default">Send</button>
    </form>
</div>

{% endblock %}



<!--
<script>
function myFunction() {
	$('#id_regex').css("background-color", "yellow");
}
</script>
<button type="button" onclick="myFunction()">Botoncito</button>


<script>
$(document).ready(function(){
    $("button").click(function(){
        $('#id_regex').css("background-color", "red");
    });
});
</script>
-->
