{% extends 'vimthon/base.html'%}

{% block content %}


<form method="POST" class="post-form">{% csrf_token %}
  	{{ form }}
	<button type="submit" class="save btn btn-default">Send</button>
</form>


{% endblock %}



<!--
<script>
function myFunction() {
	$('#id_regex').css("background-color", "yellow");
}
</script>
<button type="button" onclick="myFunction()">Botoncito</button>


<script>
$(document).ready(function(){
    $("button").click(function(){
        $('#id_regex').css("background-color", "red");
    });
});
</script>
-->
